
.title{
 margin-top: 50px;
    margin-left: 767px;

}
.title h3{

    font-style: normal ;
    font-variant: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 47px;
    text-align: left;
    letter-spacing: 0px;
    color: black;
    opacity: 1;

}

